[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
flask = "*"
waitress = "*"
scikit-learn = "==1.3.0"

[dev-packages]
awsebcli = "*"

[requires]
python_version = "3.11"
